<%-  include('header');  -%>

<section id="demographic">
    <div class="content1">
        <aside class="side1">
            <figure id="picture1" class="picture1">
                <div class="picture-shadow1"></div>
                <img id="pictureImage1" class="picture-image1" src="/images/kabul.jpg" alt="web-design sample" height="320" width="320">
            </figure>
        </aside>
        <main class="about1">
            <h1 class="name1"> Demographic Background </h1>
            <p class="job1">
                Kabul
            </p>
            <hr class="hr1">
            <div class="description1">
                <p> My parents are from Kabul, the capital of Afghanistan which is located in the heart of central Asia, I have been living in
                    U.S since the end of 2015, I am currently obtaining general education classes in De Anza, My hobbies include watching documentaries
                    jogging, and stock trading. 
                </p>
            </div>
        </main>     
        </div>
        </section>

<div class="content1">
    <aside class="side1">
        <figure  class="picture1">
            <div class="picture-shadow2"></div>
            <img  class="picture-image2" src="/images/resume_photo3.jpg" alt="web-design sample" height="320" width="320">
        </figure>
    </aside>
    <main class="about1">
        <h1 class="name1"> Recent Activity </h1>
        <p class="job1">
            The Completev 2020 Web development Bootcamp
        </p>
        <hr class="hr1">
        <div class="description1">
            <p> I started distance learning on Udemy and tackled with basic elements required to design websites thus enhancing UI/UX, in addition 
                I was introduced to React, an open source, front end, javascript library for building user interfaces. I am looking forward to learning 
            React with its Advanced Concepts, React Native and many more. </p>
        </div>
    </main>     
    </div>
        <section id="reading"> 
            <span class="about_title"> Currently reading </span>       
        <div class="books">
            <div class="book1">
                <img class="img1" src="/images/reading_book4.png"  alt="book 1" height="245" width="245" >
                <span class="reading_book1"> The business of the 21st century </span>
                <span class="reading_book2"> Robert T Kiyosaki </span>
            </div>
            <div class="book2">
                <img src="/images/reading_book2.jpg" alt="book 2" height="245" width="245">
                <span class="reading_book1"> The American Promise </span>
                <span class="reading_book2"> James L Roark </span>
            </div>
            <div class="book3">
                <img src="/images/reading_book3.jpg" alt="book 3" height="245" width="245">
                <span class="reading_book1"> Pro Javascript RIA Techniques </span>
                <span class="reading_book2"> Den Odell </span>
            </div>           
        </div>        
    </section>
    <section id="hobby">
        <span class="about_title"> Currently Using </span>
        <div class="applications">
            <div class="app1">
                <img class="img" src="/images/gimp.png"  alt="book 1" height="245" width="245" >
                <span class="reading_book1"> Gimp </span>
                <span class="reading_book2"> Gimp is a an alternative to Photoshop as we don't need monthly subscription </span>

            </div>
            <div class="app2">
                <img class="img" src="/images/postman1.png"  alt="book 1" height="245" width="245" >
                <span class="reading_book1"> Postman </span>
                <span class="reading_book2">Postman is a popular API client that makes it easy for developers
                    to create, share, test and document APIs.
                </span>
            </div>
            <div class="app3">
                <img class="img" src="/images/WPS1.webp"  alt="book 1" height="245" width="245" >
                <span class="reading_book1"> WPS Office </span>
                <span class="reading_book2"> its a free applicationm, an alternative to Microsoft Office, 
                    in addition it also contains free PDF editor </span>
            </div>
        </div>
    </section>
    <%-  include('footer');  -%>






