<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewpoert" content="width=device-width" initial-scale="1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="/css/minireset.min.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/work.css">
  <link rel="icon" href="/images/OKM_cropped_resized.png">
  <title>My Resume </title>
  </head>
  <body>
    <div id="wallpaper" data-image="/images/austria.jpg" class="wallpaper"></div>
    
    
   <header class="k-nav">
     <nav class="c-nav">
    <div class="menu-bar">
        <ul>
          <li class="positioning"> <a class="unique-logo" href="/">
            <div class="img-logo">
           </div> 
         </a> </li>
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/about"> about  </a> </li>
          <li> <a href="/work"> Work </a> </li>
          </ul>
        </div>
        </nav>
        </header>
        
