    <%- include('header');   -%> 
    
      <div class="content">
       <aside class="side">
        <figure id="picture" class="picture">
          <div class="picture-shadow"></div>
            <img id="pictureImage" class="picture-image" src="/images/my_linkedIn_profile.jpg" alt="khalid's portrait" height="320" width="320">
            </figure>
            </aside>
            <main class="about">
              <h1 class="name"> Hi, I'm Omar K Azimi </h1>
              <p class="job">
                web developer </p>
                <hr class="hr">
                <div class="description">
                  <p> I'm a web developer, a computer science major, busy with online learning, I watch tech videos as a hobby and 
                    I believe I can be a sportsman, I am deeply interested to work with a group of enthusiastic and tactful individuals </p>
                  </div>
                  <div class="contact">
                    <a class="button" href="mailto:shawqinerdy2020@gmail.com"> Get in touch </a>
                    <ul class="social">
                      <li>  <a href="https://twitter.com/khalidazimi2020"> <i class="fab fa-twitter"></i> </a> </li>
                      <li>  <a href="https://facebook.com/khallidAhmad"> <i class="fab fa-facebook-f"></i> </a> </li>
                      <li> <a href="https://www.linkedin.com/in/omar-khalid-azimi">  <i class="fab fa-linkedin-in"></i> </a> </li>
                      </ul>
                     
                      </div>
                      </main>
                      </div>                    
                   
                <%- include('footer');  -%>



