<%-    include('header');  -%>
<div class="work_summary">
    <h1 id="title"> Recent Work History </h1>    
    <div class="work_experience1">
    <div style="background-color: #706897" class="card">
        <div style="background-color:  #9088d4" class="card-top">
        <h1> <a href="#digital"> Digital Realty </a> </h1>
            <!-- <img class="work_avatar" src="/images/IMG-0178.jpg" alt="khalid's avatar image" height="320" width="320"> -->
            <p class="date"> 2017-2019</p>
        <div class="card-bottom">
            <p class="info"> Security Receptionist </p>
            <!-- <p class="info"> b@beyonce.com </p> -->
        </div>
    </div>
    </div>
</div>
    
<div class="work_experience2">
    <div class="card" style="background-color: #bc6ff1">
    <div class="card-top" style="background-color: #892cdc">
    <h1> <a href="#uplift"> Uplift family Services</a> </h1>
        <!-- <img class="work_avatar" src="/images/IMG-0178.jpg" alt="khalid's avatar image" height="320" width="320"> -->
        <p class="date"> 2016-2017</p>
    </div>
    <div class="card-bottom">
        <p class="info"> Security Receptionist </p>
        <!-- <p class="info"> b@beyonce.com </p> -->
    </div>
</div>
</div>
<div class="work_experience3">
    <div class="card" style="background-color: #c060a1">
    <div class="card-top" style="background-color: #6a097d">
    <h1> <a href="#Goodwill"> GoodWill of Silicon Valley </a> </h1>
        <!-- <img class="work_avatar" src="/images/IMG-0178.jpg" alt="khalid's avatar image" height="320" width="320"> -->
        <p class="date"> 2016</p>
    </div>
    <div class="card-bottom">
        <p class="info"> Accounting Intern </p>
        <!-- <p class="info"> b@beyonce.com </p> -->
    </div>
</div>
</div>
<div class="work_experience4">
    <div class="card" style="background-color: #463333">
    <div class="card-top" style="background-color: #9e818a">
    <h1> <a href="#Cricket"> Cricket Wireless </a> </h1>
        <!-- <img class="work_avatar" src="/images/IMG-0178.jpg" alt="khalid's avatar image" height="320" width="320"> -->
        <p class="date"> 2016</p>
    </div>
    <div class="card-bottom">
        <p class="info"> Salesman & Cashier </p>
        <!-- <p class="info"> b@beyonce.com </p> -->
    </div>
</div>
</div>
</div>
<section id="digital">
<div class="work_content">
    <aside class="work_side">
        <figure id="work_picture" class="work_picture">
            <div class="work_shadow"></div>
            <img id="work_image" class="work_image" src="/images/resume_photo5.jpg" alt="khalid's portrait" height="320" width="320">
        </figure>
    </aside>
    <main class="work_about">
        <h1 class="work_name"> Digital Realty</h1>
        <p class="work_job">
            Security Receptionist
        </p>
        <hr class="work_hr">
        <div class="work_description">
            <p> Ensuring the right access priviliges were given to only intended individuals, creating access tickets for visitors as per the 
                instruction of company's top management. completing daily reports including site checklist, device performance report and many more.
                Printing badges, installing different hardware devices, responding to customer's emails and physical presence around the data center 
                were part of the routine.
            </p>
        </div>
    </main>
</div>
</section>
<section id="uplift">
    <div class="work_content">
        <aside class="work_side">
            <figure class="work_picture">
                <div class="work_shadow"></div>
                <img class="work_image" src="/images/resume_photo6.jpg" alt="company's photo" height="320" width="320">
            </figure>
        </aside>
        <main class="work_about">
            <h1 class="work_name"> Uplift family Services</h1>
            <p class="work_job">
                Security Receptionist
            </p>
            <hr class="work_hr">
            <div class="work_description">
                Answering inquiry calls, informing family specialists and nurses to update parents on thier children's mental health,
                assisting paramedics in transporting patients to hospital. remaining in touch with facility manager to perform mandatory work
                required to ensure safety for all. filling out SOR's to document any important event to update the next officer.
        </main>
    </div>
</section>
<section id="Goodwill">
    <div class="work_content">
        <aside class="work_side">
            <figure class="work_picture">
                <div class="work_shadow"></div>
                <img class="work_image" src="/images/resume_photo7.jpg" alt="company's photo" height="320" width="320">
            </figure>
        </aside>
        <main class="work_about">
            <h1 class="work_name"> Goodwill of Silicon Valley</h1>
            <p class="work_job">
                Accounting Intern
            </p>
            <hr class="work_hr">
            <div class="work_description">
                The Finance Team of Goodwill of Silicon Valley offered Internship to me where I learned valuable skills including 
                keeping track of account receivables, assisting the accounts Payable clerk in preparing the invoices, overseeing customers history 
                of payments, though internship lasted only 4 months, nevertheless it was my first exposure to the coroporate environment. 
            </div>
        </main>
    </div>
</section>
<section id="Cricket">
    <div class="work_content">
        <aside class="work_side">
            <figure class="work_picture">
                <div class="work_shadow"></div>
                <img class="work_image" src="/images/resume_photo9.jpg" alt="company's photo" height="320" width="320">
            </figure>
        </aside>
        <main class="work_about">
            <h1 class="work_name"> Cricket Wireless </h1>
            <p class="work_job">
                Salesman & Cashier 
            </p>
            <hr class="work_hr">
            <div class="work_description">
                I worked with several other colleagues to encourage visitors to buy Cricket plans instead of other carriers,
                explaining main features, providing extra services upon request, receiving monthly payments, watching tutorials to 
                use cricket customer portal application effectively. 

            </div>
        </main>
    </div>
</section>

<%- include('footer');  -%>

